*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#0b1220;
color:white;
display:flex;
justify-content:center;
}

.container{
width:100%;
max-width:520px;
padding:16px;
}

h1{
text-align:center;
margin-bottom:5px;
}

.sub{
text-align:center;
opacity:.7;
margin-bottom:20px;
}

/* upload */

.upload{
display:block;
background:#111827;
border:2px dashed #3b82f6;
padding:22px;
border-radius:14px;
text-align:center;
cursor:pointer;
margin-bottom:20px;
}

.upload input{
display:none;
}

/* cards */

.card{
background:#111827;
border-radius:14px;
padding:12px;
margin-bottom:15px;
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

/* slider */

.range{
width:100%;
}

/* button */

#mergeBtn{
width:100%;
padding:15px;
border:none;
border-radius:14px;
background:#22c55e;
color:white;
font-size:16px;
font-weight:bold;
margin-top:10px;
}

/* canvas */

canvas{
width:100%;
margin-top:20px;
border-radius:10px;
background:black;
}

#download{
display:none;
margin-top:15px;
background:#f59e0b;
padding:14px;
border-radius:12px;
text-align:center;
text-decoration:none;
color:black;
font-weight:bold;
}
